themes {
    tokyo-night {
        ribbon_unselected {
            base 169 177 214       // #a9b1d6
            background 26 27 38    // #1a1b26
            emphasis_0 247 118 142 // #f7768e
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 122 162 247 // #7aa2f7
            emphasis_3 187 154 247 // #bb9af7
        }
        ribbon_selected {
            base 26 27 38          // #1a1b26
            background 122 162 247 // #7aa2f7
            emphasis_0 247 118 142 // #f7768e
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 125 207 255 // #7dcfff
            emphasis_3 187 154 247 // #bb9af7
        }
        table_title {
            base 192 202 245       // #c0caf5
            background 26 27 38    // #1a1b26
            emphasis_0 122 162 247 // #7aa2f7
            emphasis_1 125 207 255 // #7dcfff
            emphasis_2 158 206 106 // #9ece6a
            emphasis_3 224 175 104 // #e0af68
        }
        table_cell_unselected {
            base 169 177 214       // #a9b1d6
            background 26 27 38    // #1a1b26
            emphasis_0 122 162 247 // #7aa2f7
            emphasis_1 125 207 255 // #7dcfff
            emphasis_2 158 206 106 // #9ece6a
            emphasis_3 224 175 104 // #e0af68
        }
        table_cell_selected {
            base 26 27 38          // #1a1b26
            background 125 207 255 // #7dcfff
            emphasis_0 122 162 247 // #7aa2f7
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 187 154 247 // #bb9af7
            emphasis_3 224 175 104 // #e0af68
        }
        list_unselected {
            base 169 177 214       // #a9b1d6
            background 26 27 38    // #1a1b26
            emphasis_0 122 162 247 // #7aa2f7
            emphasis_1 125 207 255 // #7dcfff
            emphasis_2 158 206 106 // #9ece6a
            emphasis_3 224 175 104 // #e0af68
        }
        list_selected {
            base 26 27 38          // #1a1b26
            background 122 162 247 // #7aa2f7
            emphasis_0 125 207 255 // #7dcfff
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 187 154 247 // #bb9af7
            emphasis_3 224 175 104 // #e0af68
        }
        frame_unselected {
            base 86 95 137         // #565f89
            background 26 27 38    // #1a1b26
            emphasis_0 122 162 247 // #7aa2f7
            emphasis_1 125 207 255 // #7dcfff
            emphasis_2 158 206 106 // #9ece6a
            emphasis_3 224 175 104 // #e0af68
        }
        frame_selected {
            base 122 162 247       // #7aa2f7
            background 26 27 38    // #1a1b26
            emphasis_0 125 207 255 // #7dcfff
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 187 154 247 // #bb9af7
            emphasis_3 224 175 104 // #e0af68
        }
        frame_highlight {
            base 125 207 255       // #7dcfff
            background 26 27 38    // #1a1b26
            emphasis_0 122 162 247 // #7aa2f7
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 187 154 247 // #bb9af7
            emphasis_3 224 175 104 // #e0af68
        }
        exit_code_success {
            base 158 206 106       // #9ece6a
            background 26 27 38    // #1a1b26
            emphasis_0 158 206 106 // #9ece6a
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 158 206 106 // #9ece6a
            emphasis_3 158 206 106 // #9ece6a
        }
        exit_code_error {
            base 247 118 142       // #f7768e
            background 26 27 38    // #1a1b26
            emphasis_0 247 118 142 // #f7768e
            emphasis_1 247 118 142 // #f7768e
            emphasis_2 247 118 142 // #f7768e
            emphasis_3 247 118 142 // #f7768e
        }
        multiplayer_user_colors {
            player_1 122 162 247   // #7aa2f7
            player_2 158 206 106   // #9ece6a
            player_3 224 175 104   // #e0af68
            player_4 247 118 142   // #f7768e
            player_5 187 154 247   // #bb9af7
            player_6 125 207 255   // #7dcfff
        }
        text_unselected {
            base 169 177 214       // #a9b1d6
            background 26 27 38    // #1a1b26
            emphasis_0 122 162 247 // #7aa2f7
            emphasis_1 125 207 255 // #7dcfff
            emphasis_2 158 206 106 // #9ece6a
            emphasis_3 224 175 104 // #e0af68
        }
        text_selected {
            base 26 27 38          // #1a1b26
            background 122 162 247 // #7aa2f7
            emphasis_0 125 207 255 // #7dcfff
            emphasis_1 158 206 106 // #9ece6a
            emphasis_2 187 154 247 // #bb9af7
            emphasis_3 224 175 104 // #e0af68
        }
    }
}
