themes {
    catppuccin {
        ribbon_unselected {
            base 186 194 222       // #bac2de
            background 30 30 46    // #1e1e2e
            emphasis_0 243 139 168 // #f38ba8
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 137 180 250 // #89b4fa
            emphasis_3 203 166 247 // #cba6f7
        }
        ribbon_selected {
            base 30 30 46          // #1e1e2e
            background 137 180 250 // #89b4fa
            emphasis_0 243 139 168 // #f38ba8
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 148 226 213 // #94e2d5
            emphasis_3 203 166 247 // #cba6f7
        }
        table_title {
            base 205 214 244       // #cdd6f4
            background 30 30 46    // #1e1e2e
            emphasis_0 137 180 250 // #89b4fa
            emphasis_1 148 226 213 // #94e2d5
            emphasis_2 166 227 161 // #a6e3a1
            emphasis_3 249 226 175 // #f9e2af
        }
        table_cell_unselected {
            base 186 194 222       // #bac2de
            background 30 30 46    // #1e1e2e
            emphasis_0 137 180 250 // #89b4fa
            emphasis_1 148 226 213 // #94e2d5
            emphasis_2 166 227 161 // #a6e3a1
            emphasis_3 249 226 175 // #f9e2af
        }
        table_cell_selected {
            base 30 30 46          // #1e1e2e
            background 148 226 213 // #94e2d5
            emphasis_0 137 180 250 // #89b4fa
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 203 166 247 // #cba6f7
            emphasis_3 249 226 175 // #f9e2af
        }
        list_unselected {
            base 186 194 222       // #bac2de
            background 30 30 46    // #1e1e2e
            emphasis_0 137 180 250 // #89b4fa
            emphasis_1 148 226 213 // #94e2d5
            emphasis_2 166 227 161 // #a6e3a1
            emphasis_3 249 226 175 // #f9e2af
        }
        list_selected {
            base 30 30 46          // #1e1e2e
            background 137 180 250 // #89b4fa
            emphasis_0 148 226 213 // #94e2d5
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 203 166 247 // #cba6f7
            emphasis_3 249 226 175 // #f9e2af
        }
        frame_unselected {
            base 108 112 134       // #6c7086
            background 30 30 46    // #1e1e2e
            emphasis_0 137 180 250 // #89b4fa
            emphasis_1 148 226 213 // #94e2d5
            emphasis_2 166 227 161 // #a6e3a1
            emphasis_3 249 226 175 // #f9e2af
        }
        frame_selected {
            base 137 180 250       // #89b4fa
            background 30 30 46    // #1e1e2e
            emphasis_0 148 226 213 // #94e2d5
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 203 166 247 // #cba6f7
            emphasis_3 249 226 175 // #f9e2af
        }
        frame_highlight {
            base 148 226 213       // #94e2d5
            background 30 30 46    // #1e1e2e
            emphasis_0 137 180 250 // #89b4fa
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 203 166 247 // #cba6f7
            emphasis_3 249 226 175 // #f9e2af
        }
        exit_code_success {
            base 166 227 161       // #a6e3a1
            background 30 30 46    // #1e1e2e
            emphasis_0 166 227 161 // #a6e3a1
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 166 227 161 // #a6e3a1
            emphasis_3 166 227 161 // #a6e3a1
        }
        exit_code_error {
            base 243 139 168       // #f38ba8
            background 30 30 46    // #1e1e2e
            emphasis_0 243 139 168 // #f38ba8
            emphasis_1 243 139 168 // #f38ba8
            emphasis_2 243 139 168 // #f38ba8
            emphasis_3 243 139 168 // #f38ba8
        }
        multiplayer_user_colors {
            player_1 137 180 250   // #89b4fa
            player_2 166 227 161   // #a6e3a1
            player_3 249 226 175   // #f9e2af
            player_4 243 139 168   // #f38ba8
            player_5 203 166 247   // #cba6f7
            player_6 148 226 213   // #94e2d5
        }
        text_unselected {
            base 186 194 222       // #bac2de
            background 30 30 46    // #1e1e2e
            emphasis_0 137 180 250 // #89b4fa
            emphasis_1 148 226 213 // #94e2d5
            emphasis_2 166 227 161 // #a6e3a1
            emphasis_3 249 226 175 // #f9e2af
        }
        text_selected {
            base 30 30 46          // #1e1e2e
            background 137 180 250 // #89b4fa
            emphasis_0 148 226 213 // #94e2d5
            emphasis_1 166 227 161 // #a6e3a1
            emphasis_2 203 166 247 // #cba6f7
            emphasis_3 249 226 175 // #f9e2af
        }
    }
}
